@media screen and (max-width: 768px) {
  p, label{
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  p, label{
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
  }
}

/* this pattern doesn't work */
.col-5{
  grid-template-columns: 20% 20% 20% 20% 20%;
  display: grid;
}

.col-4{
  grid-template-columns: 25% 25% 25% 25%;
  display: grid;
}

.col-3{
  grid-template-columns: 33% 33% 33%;
  display: grid;
}

.col-2{
  grid-template-columns: 50% 50%;
  display: grid;
}

.col-1{
  grid-template-columns: 100%;
  display: grid;
}

.colored-light{
  background: #A2CACB;
}

.colored-dark{
  background: #82B8BA;
}

.al-center{
  justify-items: center;
}

body{
  height: 100vh;
  margin:0;
}

p, label{
  font-family: Arial, sans-serif;
  margin: 0;
}

input[type='text'], input[type='number'], select{
  width: 100px;
  height: 20px;
  border-radius: 5px;
}

.white-border-top-bottom{
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

.white-border-right{
  border-right: 3px solid white;
}

.clickable-label{
  cursor: pointer;
  padding: 7px 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #2E368F;
  color: white;
  display: inline-block;
}

.hidden{
  display: none;
}