.box{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(70px, auto);
  background: #5dbbd3;
}
.box > input{
  float: right;
}


.label {
  font-size: 40px;
  padding: 1em;
}

.top_b_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.box2{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-auto-rows: minmax(70px, auto);
}
.box2 > div{
  background: #6c87c0;
  padding:1em;
  border:#272727 2px solid;
}
.box2 > div:nth-child(odd){
  background: #5dbbd3;
}

.box2_grid5{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.box2_grid3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}







input[type="text"]{
  height: 50px;
  width: 150px;
  font-size: 30px;
} 
input[type="number"]{
  height: 50px;
  width: 150px;
  font-size: 30px;
} 